* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(Inter-VariableFont_sInt,wght.ttf);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--grey-900);
    color: var(--white);
}

.card-container {

}