* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url(Inter-VariableFont_sInt,wght.ttf);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(2, 73%, 57%); }

:root {
    --cinnabar: hsl(2, 73%, 57%);
    --light-cyan: hsl(187, 62%, 87%);
    --twilight-indigo: hsl(221, 27%, 25%);
    --jet-black: hsl(224, 22%, 19%);
    --shadow-grey: hsl(224, 20%, 15%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--shadow-grey);
    color: var(--light-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}

.profile-pic {
    width: 100px;
    margin: 24px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    color: var(--cinnabar);
    font-weight: 400;
}

p {
    font-weight: 300;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 10px;
}

a.socials-links {
    font-weight: 500;
    background-color: var(--twilight-indigo);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--light-cyan);
    border-radius: 6px;
    padding: 12px 80px;
    margin: 10px;
    transition: all 0.3s ease;
}

a:hover {
    font-weight: 500;
    background-color: var(--cinnabar);
    color: var(--shadow-grey);
}

.card-container {
    background-color: var(--jet-black);
    max-width: fit-content;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}